<table class="table table-flush table-striped table-hover" id="tabela"></table>

<%- contentFor("scripts") %>
<script type="text/javascript">
  //<![CDATA[
  "use strict";

  let tabela = prepareDataTable("tabela", {
    order: [[1, "asc"]], 
    deferRender: true, 
    columns: [
      { title: "ID", type: "num", data: "idobra" },
      { 
        title: "Poster", 
        "class": "col-min text-center",
        data: "poster",
        render: function (data, type, row) {
         return `<img src="${data}" alt="${row.titulo} Poster" width="120" height="190">`;
      }},
      { title: "Título", render: encode, data: "titulo" },
      { title: "Ano", type: "num", data: "ano" },
      { title: "Duração", render: encode, data: "duracao" },
      { title: "Classificação", render: encode, data: "classificacao" },
      { title: "Nota", type: "num", data: "nota" },
      { title: "Tipo", type: "num", data: "tipo" },
      { title: " + Info", "class": "col-min", searchable: false, orderable: false, data: "id", render: function (v, type, row) { return  '<a target="_blank" title="Info" href="<%= srcInfo %>' + row.idexterno + '/" class="btn btn btn-outline-warning"><i class="fa fa-sm fa-ellipsis-v"></i></a>' } }
    ],
	data: <%- JSON.stringify(lista) %>,
  });

  //]]>
</script>
