<style>
	.profile-card {
		display: flex;
		align-items: center;
		padding: 20px;
		border-radius: 10px;
	}
	.profile-card img {
		border-radius: 50%;
		width: 150px;
		height: 150px;
		object-fit: cover;
		margin-right: 20px;
	}
	.profile-details {
		flex-grow: 1;
	}
	.profile-links {
		display: flex;
		justify-content: flex-start;
		margin-top: 20px;
	}
	.profile-links a {
		margin-right: 10px;
	}
</style>


<p class="mb-4">
	Conheça um pouco da equipe responsável pelo desenvolvimento desse projeto! Cada um teve uma função primordial para o melhor resultado possível. Fique a vontade para 
	acompanhá-los em suas redes e nos acompanhe para novos projetos que virão. 
</p>

<p class="mb-4">
	Um agradecimento por ter curiosidade em nos conhecer melhor! Ficamos por aqui e um abraço de toda equipe da <b><i>Black Knight Analytics</i></b> ⚔️⚔️⚔️.
</p>

<div class="row">

	<!-- Border Left Utilities -->
	<div class="col-lg-6" style="min-height: 100%;">

		<div class="card shadow mb-4 py-3 border-left-primary bg-gradient-light">
			<div class="profile-card">
				<img src="/public/img/dylan.PNG" alt="Profile Image">
				<div class="profile-details">
					<div class="h5 mb-0 font-weight-bold text-success">DYLAN ASHBY</div>
					<div class="text-xs font-weight-bold text-gray-800 text-uppercase mb-1">DATA ENGINEER</div>
					<div class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel magni ipsum voluptatem quis reiciendis veritatis nulla officia, culpa aut, at cumque aperiam repellendus, et mollitia voluptates fugit odit consectetur sit.</div>
				</div>
			</div>
			<div class="card-body">
				<div class="profile-links">
					<a href="https://github.com/DylanAshbeer" class="btn-circle btn-lg btn-outline-dark" target="_blank">
						<i class="fab fa-github fa-lg"></i>
					</a>
					<a href="https://www.linkedin.com/in/dylan-ashby/" class="btn-circle btn-lg btn-outline-info" target="_blank">
						<i class="fab fa-linkedin fa-lg"></i>
					</a> 
					<a href="" class="btn-circle btn-lg btn-outline-success" target="_blank">
						<i class="fas fa-phone-alt"></i>
					</a> 
					<a href="" class="btn-circle btn-lg btn-outline-light" target="_blank">
						<i class="fas fa-envelope fa-lg"></i>
					</a> 
				</div>
			</div>
		</div>
	</div>

	<div class="col-lg-6" style="min-height: 100%;">

		<div class="card shadow mb-4 py-3 border-left-danger bg-gradient-light">
			<div class="profile-card">
				<img src="/public/img/formario2.png" alt="Profile Image">
				<div class="profile-details">
					<div class="h5 mb-0 font-weight-bold text-danger">GABRIEL FORMARIO</div>
					<div class="text-xs font-weight-bold text-gray-800 text-uppercase mb-1">DEV FUCKERS all</div>
					<div class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel magni ipsum voluptatem quis reiciendis veritatis nulla officia, culpa aut, at cumque aperiam repellendus, et mollitia voluptates fugit odit consectetur sit.</div>
				</div>
			</div>
			<div class="card-body">
				<div class="profile-links">
					<a href="https://github.com/gaformario" class="btn-circle btn-lg btn-outline-dark" target="_blank">
						<i class="fab fa-github fa-lg"></i>
					</a>
					<a href="https://www.linkedin.com/in/gaformario" class="btn-circle btn-lg btn-outline-info" target="_blank">
						<i class="fab fa-linkedin fa-lg"></i>
					</a> 
					<a href="" class="btn-circle btn-lg btn-outline-success" target="_blank">
						<i class="fas fa-phone-alt"></i>
					</a>
					<a href="" class="btn-circle btn-lg btn-outline-light" target="_blank">
						<i class="fas fa-envelope fa-lg"></i>
					</a>  
				</div>
			</div>
		</div>

		
<!--
		<div class="card shadow mb-4 py-3 border-bottom-secondary">
			<div class="card-body">
				.border-bottom-secondary
			</div>
		</div>

		<div class="card shadow mb-4 py-3 border-bottom-success">
			<div class="card-body">
				.border-bottom-success
			</div>
		</div>

		<div class="card shadow mb-4 py-3 border-bottom-info">
			<div class="card-body">
				.border-bottom-info
			</div>
		</div>

		<div class="card shadow mb-4 py-3 border-bottom-warning">
			<div class="card-body">
				.border-bottom-warning
			</div>
		</div>

		<div class="card shadow mb-4 py-3 border-bottom-danger">
			<div class="card-body">
				.border-bottom-danger
			</div>
		</div>

		<div class="card shadow mb-4 py-3 border-bottom-dark">
			<div class="card-body">
				.border-bottom-dark
			</div>
		</div>
-->
	</div>

</div>
