<p class="mb-4">
	Bootstrap's default utility classes can be found on the official
	<a href="https://getbootstrap.com/docs">Bootstrap Documentation</a> page. The custom utilities
	below were created to extend this theme past the default utility classes built into Bootstrap's
	framework.
</p>

<div class="row">

	<!-- Earnings (Monthly) Card Example -->
	<div class="col-xl-3 col-md-6 mb-4">
		<div class="card border-left-success shadow h-100 py-2">
			<div class="card-body">
				<div class="row no-gutters">
					<div class="col mr-1">
                        <img class="rounded-circle" src="/public/img/dylan.PNG" alt="Generic placeholder image" width="85" height="90">
						<!--<i class="fas fa-calendar fa-2x text-gray-300"></i>-->
					</div>
					<div class="col-auto mt-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
							DYLAN ASHBY</div>
						<div class="h5 mb-0 font-weight-bold text-gray-800">DEV FUCKERS</div>
                        <div class="btn-group">
                            <a href="https://github.com/DylanAshbeer" class="btn btn-outline-dark" target="_blank">
                                <i class="fab fa-github"></i>
                            </a>
                            <a href="https://www.linkedin.com/in/seu-linkedin" class="btn btn-outline-info" target="_blank">
                                <i class="fab fa-linkedin"></i>
                            </a> 
                        </div>
					</div>
				</div>
			</div>
		</div>
	</div>
    <div class="col-xl-3 col-md-6 mb-4">
		<div class="card border-left-danger shadow h-100 py-2">
			<div class="card-body">
				<div class="row no-gutters">
					<div class="col mr-1">
                        <img class="rounded-circle" src="/public/img/dylan.PNG" alt="Generic placeholder image" width="85" height="90">
						<!--<i class="fas fa-calendar fa-2x text-gray-300"></i>-->
					</div>
					<div class="col-auto mt-2">
                        <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">
							GABRIEL FORMARIO</div>
						<div class="h5 mb-0 font-weight-bold text-gray-800">DEV FUCKERS</div>
                        <div class="btn-group">
                            <a href="https://github.com/DylanAshbeer" class="btn btn-outline-dark" target="_blank">
                                <i class="fab fa-github"></i>
                            </a>
                            <a href="https://www.linkedin.com/in/seu-linkedin" class="btn btn-outline-info" target="_blank">
                                <i class="fab fa-linkedin"></i>
                            </a> 
                        </div>
					</div>
				</div>
			</div>
		</div>
	</div>
    <div class="col-xl-3 col-md-6 mb-4">
		<div class="card border-left-warning shadow h-100 py-2">
			<div class="card-body">
				<div class="row no-gutters">
					<div class="col mr-1">
                        <img class="rounded-circle" src="/public/img/dylan.PNG" alt="Generic placeholder image" width="85" height="90">
						<!--<i class="fas fa-calendar fa-2x text-gray-300"></i>-->
					</div>
					<div class="col-auto mt-2">
                        <div class="text-xs font-weight-bold text-waborder-left-warning text-uppercase mb-1">
							LUCAS AGUIRRE</div>
						<div class="h5 mb-0 font-weight-bold text-gray-800">DEV FUCKERS</div>
                        <div class="btn-group">
                            <a href="https://github.com/DylanAshbeer" class="btn btn-outline-dark" target="_blank">
                                <i class="fab fa-github"></i>
                            </a>
                            <a href="https://www.linkedin.com/in/seu-linkedin" class="btn btn-outline-info" target="_blank">
                                <i class="fab fa-linkedin"></i>
                            </a> 
                        </div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Earnings (Annual) Card Example -->
	<div class="col-xl-3 col-md-6 mb-4">
		<div class="card border-left-secondary shadow h-100 py-2">
			<div class="card-body">
				<div class="row no-gutters align-items-center">
					<div class="col mr-2">
						<div class="text-xs font-weight-bold text-secborder-left-secondary text-uppercase mb-1">
							Earnings (Annual)</div>
						<div class="h5 mb-0 font-weight-bold text-gray-800">$215,000</div>
					</div>
					<div class="col-auto">
						<i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">

	<!-- Border Left Utilities -->
	<div class="col-lg-6">

		<div class="card shadow mb-4 py-3 border-left-primary">
			<div class="card-body">
				.border-left-primary
			</div>
		</div>

		<div class="card shadow mb-4 py-3 border-left-secondary">
			<div class="card-body">
				.border-left-secondary
			</div>
		</div>

		<div class="card shadow mb-4 py-3 border-left-success">
			<div class="card-body">
				.border-left-success
			</div>
		</div>

		<div class="card shadow mb-4 py-3 border-left-info">
			<div class="card-body">
				.border-left-info
			</div>
		</div>

		<div class="card shadow mb-4 py-3 border-left-warning">
			<div class="card-body">
				.border-left-warning
			</div>
		</div>

		<div class="card shadow mb-4 py-3 border-left-danger">
			<div class="card-body">
				.border-left-danger
			</div>
		</div>

		<div class="card shadow mb-4 py-3 border-left-dark">
			<div class="card-body">
				.border-left-dark
			</div>
		</div>

	</div>

	<!-- Border Bottom Utilities -->
	<div class="col-lg-6">

		<div class="card shadow mb-4 py-3 border-bottom-primary">
			<div class="card-body">
				.border-bottom-primary
			</div>
		</div>

		<div class="card shadow mb-4 py-3 border-bottom-secondary">
			<div class="card-body">
				.border-bottom-secondary
			</div>
		</div>

		<div class="card shadow mb-4 py-3 border-bottom-success">
			<div class="card-body">
				.border-bottom-success
			</div>
		</div>

		<div class="card shadow mb-4 py-3 border-bottom-info">
			<div class="card-body">
				.border-bottom-info
			</div>
		</div>

		<div class="card shadow mb-4 py-3 border-bottom-warning">
			<div class="card-body">
				.border-bottom-warning
			</div>
		</div>

		<div class="card shadow mb-4 py-3 border-bottom-danger">
			<div class="card-body">
				.border-bottom-danger
			</div>
		</div>

		<div class="card shadow mb-4 py-3 border-bottom-dark">
			<div class="card-body">
				.border-bottom-dark
			</div>
		</div>

	</div>

</div>
